/* css variables */

/* general css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}
/* components */
header a {
    text-decoration: none;
    color: white;
}
.room {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 1fr);
}
/* header and landing */
header {
    position: absolute;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    padding: 30px;
}
header nav ul {
    list-style-type: none;
    flex: 1;
    padding-top: 14px;
    margin-left: 20px;
}
header nav ul li {
    display: inline;
    padding: 5px 20px;
}
header nav ul li a:hover {
    color: white;
    text-decoration: underline;
}
header nav .menu-mobile {
    display: none;
}
.landing {
    grid-column: 1/ 5;
    grid-row: 1 / 3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.background-a {
    background-image: url(../images/desktop-image-hero-1.jpg);
}
.background-b {
    background-image: url(../images/desktop-image-hero-2.jpg);
}
.background-c {
    background-image: url(../images/desktop-image-hero-3.jpg);
}
.flech {
    background-color: hsl(241, 100%, 9%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100vw / 7);
    height: 70px;
    display: flex;
}
.left, .right {
    padding: 20px 30px;
    width: 50%;
    text-align: center;
}
.flech .left:hover, .flech .right:hover {
    background-color: hsl(0, 0%, 63%);
    cursor: pointer;
}
/* discoveer **/
.discover {
    grid-column: 5 / 8;
    grid-row: 1 / 3;
    padding: 15px 40px;
    position: relative;
}
.discover .shop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.discover .shop h2:hover {
    cursor: pointer;
    color: hsl(0, 0%, 63%);
}
.discover .shop img {
    width: 15%;
    margin-left: 30px;
}
.discover p {
    margin-top: 30px;
    margin-bottom: 40px;
    color: hsl(0, 0%, 63%);
}
.discover h2 {
    text-transform: uppercase;
    word-spacing: 15px;
    text-transform: uppercase;
}
/* photo */
.photo {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background: url(../images/image-about-dark.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

/* about */
.about {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
    padding: 50px;
}
.about h3 {
    text-transform: uppercase;
}
.about p {
    color: hsl(0, 0%, 63%);
    margin-top: 30px;
}
/* image */
.image {
    grid-column: 6 / 8;
    grid-row: 3 / 4;
    background: url(../images/image-about-light.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
@media(max-width: 767px) {
    .room {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
    header nav {
        width: 100vw;
    }
    header nav ul {
        display: none;
    }
    header .nav ul {
        display: block;
    }
    header nav .menu-mobile {
        display: block;
        color: white;
    }
    header nav .menu-mobile i {
        font-size: 25px;
    }
    header nav .logo {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    .landing {
        grid-column: 1;
        grid-row: 1;
        height: 400px;
        width: 100vw;
    }
    .background-a {
        background: url(../images/mobile-image-hero-1.jpg);
    }
    .background-b {
        background: url(../images/mobile-image-hero-2.jpg);
    }
    .background-c {
        background: url(../images/mobile-image-hero-3.jpg);
    }
    .discover {
        grid-column: 1;
        grid-row: 2;
        padding: 40px;
    }
    .discover p {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .flech {
        position: absolute;
        top: -71px;
        right: 0;
        left: auto;
        width: calc(100vw / 3);
    }
    .photo {
        grid-column: 1;
        grid-row: 3;
        background: url(../images/image-about-dark.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        height: 300px;
        width: 100vw;
    }
    .about {
        grid-column: 1;
        grid-row: 4;
        padding: 50px;
    }
    .image {
        grid-column: 1;
        grid-row: 5;
        background: url(../images/image-about-light.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        height: 300px;
        width: 100vw;
    }
}
/* mobile menu */
.nav {
    width: 100vw;
    background-color: white;
    height: 70px;
    padding: 0;
    z-index: 5;
    transition: 1s;
    overflow: hidden;
    color: black;
}
.nav .menu-mobile {
    color: black;
    padding: 5px 10px;
}
.nav .logo {
    display: none;
}
.nav ul li {
    padding: 5px 15px;
}
@media(max-width: 424px) {
    .nav ul li {
        padding: 5px;
    }
}
.nav ul li a {
    color: black;
}
.overlay {
    position: absolute;
    top: 70px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
    z-index: 1;
}